.control {
    font-weight: 500;
    display: block;
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    color: white;

    &:hover {
        background-color: var(--mantine-color-gray-0);
        color: var(--mantine-color-black);
    }
}

.link {
    font-weight: 500;

    display: block;
    text-decoration: none;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);

    margin-left: var(--mantine-spacing-xl);
    font-size: var(--mantine-font-size-sm);
    color: white;
    border-left: 1px solid var(--mantine-color-gray-3);

    &:hover {
        background-color: var(--mantine-color-gray-0);
        color: var(--mantine-color-black);
    }
}

.chevron {
    transition: transform 200ms ease;
}